
h1 {
	color: #595959;
	font-size: 70px;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	font-weight: 200;
	line-height: 1.09;
	letter-spacing: 0px;
	font-style: normal;
}
h2{    
	color: #595959;
	margin-top: 0em;
	margin-bottom: 1.1em;
	font-weight: 300;
	line-height: 1.36;
	letter-spacing: 0px;
	font-style: normal;
}