// Variables
//@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

// Bootstrap
@import "~select2/src/scss/core.scss";

// Variables
@import "variables";
// @import "fusionHeader";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@font-face{
    font-family: IcoMoon;
    src: url('fonts/icomoon.woff');
}
.dropdown-item:hover, .dropdown-item:focus{
    background: rgba(0,0,0,0.59);    
}
.navbar-nav .dropdown-menu{
    background: rgba(0,0,0,0.59);    
    border-top: 3px solid #fff;
}
.dropdown-item:hover, .dropdown-item:focus,a.dropdown-item {
    color: #fff;
}
.navbar-dark{
    transition:all 1s;
}
.navbar-dark.scrolled{
  background:rgba(0,0,0,.59);
}
.h-100vh{
	min-height: 100vh;
    padding: 1em;
}
.h-prof{
    height: 50px;
}
.w-prof{
    width: 50px;
}
.rounded-full{
    border-radius:50%;
}

.h-mid{
    min-height: 480px;
    padding: 1em;
}
.text-2xl{
	font-size:rem;
}
.text-5xl{
	font-size:3rem;
}
.border-dashed{
    border:1px dashed !important
}
.btn-wedcontest {
    color: #fff;
    background-color: #1e73be;
    background-image: -webkit-gradient( linear, left bottom, left top, from( #23bbdd ), to( #1e73be ) );
    background-image: -webkit-linear-gradient( bottom, #23bbdd, #1e73be );
    background-image: -moz-linear-gradient( bottom, #23bbdd, #1e73be );
    background-image: -o-linear-gradient( bottom, #23bbdd, #1e73be );
    background-image: linear-gradient( to top, #23bbdd, #1e73be );
    border:none;
}
.btn-wedcontest-2 {
    color: #fff;
    background-color: transparent;
    border:2px solid #FFF;
    &:hover{
        color: #fff;
        background-color: #1e73be;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#23bbdd), to(#1e73be));
        background-image: linear-gradient(to top, #23bbdd, #1e73be);
        border: none;
    }
}
.bg-pending-rethinking-plastic{
    background-color:#ffc107
}
.bg-seeds-the-ocean-is-your-home{
    background-color:#78d748;
}
.bg-sprouts-the-ocean-is-your-home{
    background-color:#ffa200;
}
.bg-thinkers-the-ocean-is-your-home{
    background-color:#009cff;
}
.bg-game-changers-the-ocean-is-your-home{
    background-color:#f12735;
}
.bg-seeds-rethinking-plastic{
    background-color:#a4d138;
    color:#a4d138;
    .card-header{
        color:white;
    }
}
.bg-sprouts-rethinking-plastic{
    background-color:#fda023;
    color:#fda023;
    .card-header{
        color:white;
    }
}
.bg-thinkers-rethinking-plastic{
    background-color:#48b7d7;
    color:#48b7d7;
    .card-header{
        color:white;
    }

}
.bg-game-changers-rethinking-plastic{
    background-color:#cd4345;
    color:#cd4345;
    .card-header{
        color:white;
    }
}

.bg-wedcontest{
    background-color:rgba(0,0,0,0.59);
}
.separator-wedcontest {
    display: block;
    height: 3px;
    margin: 1em 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}
.cabecera {
    font-size: 2em;
    margin-top: 2em;
}
#navbarSupportedContent .nav-item{
    padding-right: 1.5rem;
}
@keyframes feather--unspin {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
}
.feather--unspin {
  animation: feather--unspin 2s linear infinite;
}
[v-cloak] {
  display: none;
}

@media (min-width: 768px){
    .bg-wedcontest{
        background-color:rgba(0,0,0,0.59);
    }
}

// @import '~select2-bootstrap-theme/src/select2-bootstrap.scss';
// @tailwind preflight;
// @tailwind components;

// @import "components/btn";
// @import "components/widget";

// @import "sections/search";
@import "sections/trix";

// @import "components/input";