// Variables
//@import "variables";

// Bootstrap
@import '~select2/src/scss/core.scss';
//@import '~select2-bootstrap-theme/src/select2-bootstrap.scss';
@tailwind preflight;
@tailwind components;

@import "components/btn";
@import "components/widget";


@import "sections/search";
@import "sections/trix";

@tailwind utilities;
@import "components/input";
a {
  @apply .text-grey-darkest;
  text-decoration: none;

  &.link:hover {
    text-decoration: underline;
  }
}

input {
  @apply .border .border-grey-light;
}

pre {
  @apply .whitespace-pre-wrap;
}
nav#main-menu-container {
  transition: 1s all;
}
[v-cloak] {
  display: none;
}

.ais-highlight > em {
  font-weight: bold;
  @apply .text-black;
}
.v--modal-overlay{
  overflow:scroll;
}